*{
    margin: 0;
    padding: 0;
    max-width: 1600px;
}
.fira-sans-thin{
  font-family: "Fira Sans", sans-serif;
}
body{
    background-color: whitesmoke;
}
nav .nav-head ul{
    display: flex;
    gap: 32px;
}
nav .nav-head ul li{
    list-style: none;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}
nav .nav-head ul li:hover{
    color: blue;
}
nav .nav-head{
    display: flex;
    max-width: 1360px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 24px;
}
nav .nav-head button{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    background-color: #469165;
    border-radius: 5px;
    cursor: pointer;
}
nav .nav-head button:hover{
    background-color: #d10d0d;
}
#hero-section{
    width: 100%;
    height: 675px;
    background-image: url('image/hero-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.hero-container{
    max-width: 1360px;
    width: 100%;
    padding: 20px;
}
.gg{
    display: inline-flex;
    align-items: center;
    background: #FFFFFF;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 16px;
    margin-bottom: 16px;
    color: #0b8b40;
    cursor: pointer;
}
.dot{
    height: 8px;
    width: 8px;
    background-color: #469165;
    border-radius: 50%;
    box-shadow: 0 0 5px #0d6933;
    display: inline-block;
    margin-right: 10px;
}
#hero-section .hero-container .gg:hover{
    background-color: #edf96d;
}

.hero-title{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin-bottom: 16px;
}
.green{
    color: #30B868;
}
.hero-d{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 32px;
}
.hero-button{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.btn1{
    display: flex;
    gap: 10px;
    background-color: #469165;
    color: white;
    padding: 17px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn1 img{
    align-items: center;
}
.btn1:hover{
    background-color: #387a53;
}
.btn2{
    color: white;
    padding: 14px 28px;
    border: 1px solid rgba(253, 247, 247, 0.895);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    background: transparent;
    align-items: center;
    gap: 10px;
}
.btn2:hover{
    background: rgba(255, 255, 255, 0.1);
}
#mid-container{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}
#mid-container .content{
    margin-top: 120px;
    justify-content: center;
}
#mid-container .content .box-container .box img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 16px;
}
#mid-container .content .head h1{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
#mid-container .content .head p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 45px;
}
#mid-container .content .box-container{
    display: flex;
    gap: 24px;
    text-align: center;
    margin-bottom: 120px;
}
#mid-container .content .box-container .box{
    padding: 50px 24px;
    background-color: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
}
#mid-container .content .box-container .box:hover{
    background-color: #b5f1ce;
}
#mid-container .content .box-container .box h2{
    font-size: 24px;
    font-weight: 600;
    color:#001931;
    margin-bottom: 16px;
}
#mid-container .content .box-container .box p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    /* text-align: center; */
}
#mid-section .mid-content{
    width: 100%;
    max-width: 1360px;
    height: 600px;
    display: flex;
    gap: 60px;
    margin: 0 auto;
    margin-bottom: 120px;
}
#mid-section .mid-content .a{
    margin-left: 60px;
    border-radius: 12px;
}
#mid-section .mid-content .b{
    margin-top: 120px;
    margin-bottom: 120px;
}
#mid-section .mid-content .b h6{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}
#mid-section .mid-content .b h1{
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
#mid-section .mid-content .b p{
    
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}
#mid-section .mid-content .b ul li{
    list-style: none;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    align-items: center;
    display: flex;
    gap: 7px;
}
#mid-section .mid-content .b ul li img{
    width: 20px;
    height: 20px;
    align-items: center;
}
#Last-section .last-content{
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding: 80px 40px;
    background-color: #dbdbd64a;
    margin-bottom: 120px;
    border-radius: 12px;
}
#Last-section .last-content .content{
    text-align: center;
}
#Last-section .last-content .content h1{
    color: #001931;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}
#Last-section .last-content .content .a{
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 16px;
}
#Last-section .last-content .content button img{
    padding-left: 8px;
}
#Last-section .last-content .content button{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    display: flex;
    text-align: center;
    background-color: #469165;
    padding: 17px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 16px;
    margin-left: 580px;
}
#Last-section .last-content .content button:hover{
    background-color: #950e0e;
}
#Last-section .last-content .content .b{
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    color: #627382;
}

#footer-section{
    background-color: #001931;
}
#footer-section .content{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 80px;
    padding-top: 120px;
    padding-bottom: 100px;
}
#footer-section .content ul{
    display: flex;
    gap: 16px;
}
#footer-section .content .b h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}
#footer-section .content .b li{
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}
#footer-section .content .b li:hover{
    background-color: #30B868;
}
#footer-section .content .b{
    margin-right: 130px;
}
.f hr{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    border: none;
    height: 1px;
    background-color: rgba(255,255,255,0.3);
    margin-bottom: 20px;
}
.f p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FAFAFA;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
}